@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
}

h1, span {
    font-family: 'Ubuntu', sans-serif;
}

header {
    height: 130px;
    text-align: center;
    background-color: rgb(167, 69, 69);
}

header h1 {
    padding-top: 45px;
    color: rgb(240, 232, 232);
}

.projects-container {
    width: 70vw;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    width: 300px;
    height: 200px;
    margin: 30px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    background: url("../imgs/software.jpg");
    background-size: contain;
    border-radius: 2px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

a span {
    padding: 0 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: black;
    background-color: rgb(255, 251, 251);
    font-weight: 300;
}

a:hover {
    opacity: 0.3;
}